h1 {
  color: Black;
  text-align: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding 10px;
}

.responsive {
  width: 100%;
  heigth: auto;
}
